@use "../abstract" as *;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$clr-1: #000814;
$clr-2: #fff;
$clr-3: #808080;
$clr-4: #3729f7;
$clr-5: #ffff00;
$clr-6: #ecec2a;
$clr-7: #e911e9;
$clr-8: #7171f0;

$ff-1: "Poppins", sans-serif;
$fw-1: 400;
$fw-2: 700;
$fs-1: rem(20);
$fs-2: rem(22);
$fs-3: rem(25);
$fs-4: rem(18);
$fsr-1: clamp(rem(28), 1.486rem + 1.32vw, rem(40));
$fsr-2: clamp(rem(16), 0.802rem + 0.99vw, rem(25));
$fsr-3: clamp(rem(16), 0.912rem + 0.44vw, rem(20));
$fsr-4: clamp(rem(20), 1.206rem + 0.22vw, rem(22));
$fsr-5: clamp(rem(20), 1.14rem + 0.55vw, rem(25));

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: $ff-1;
  font-weight: $fw-1;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

a {
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
}

address {
  font-style: normal;
}

[data-theme="dark"] {
  background: $clr-1;
  color: $clr-2;
}

[data-theme="light"] {
  background: $clr-2;
  color: $clr-1;
}

.container {
  width: min(100%, rem(1230));
  height: 100%;
  margin-inline: auto;
  padding-inline: rem(15);
}

.title {
  font-size: $fsr-5;
  font-weight: $fw-2;
}

.dark-text {
  color: $clr-6;
}
