.about {
  padding-bottom: 80px;
  scroll-margin-top: 60px;
}

.about__wrap {
  display: flex;
  justify-content: center;
  gap: 45px;
  align-items: center;
  flex-wrap: wrap;
}

.about__pic {
  display: flex;
  width: 500px;
  height: 300px;
  order: 1;
}

.about__pic-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 30px;
}

.about__main {
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.about__main-text {
  font-family: var(--RR);
  font-size: 22px;
}
