.projects {
  padding-bottom: 80px;
  scroll-margin-top: 65px;
}

.projects__wrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.projects__desc {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 15px;
}

.projects__cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.projects__cards-card {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.projects__cards-card-pic {
  display: flex;
}

.projects__cards-card-pic-img {
  max-width: 650px;
  width: 100%;
  min-height: 250px;
  border-radius: 20px;
}

.projects__cards-card-desc {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.projects__cards-card:nth-child(even) .projects__cards-card-desc {
  order: -1;
}

.projects__cards-card-desc-title {
  text-transform: uppercase;
}

.projects__cards-card-desc-text {
  font-family: var(--RR);
  text-align: center;
  padding-bottom: 25px;
  font-size: 22px;
}

.projects__cards-card-desc-list {
  display: flex;
  gap: 15px;
  align-items: center;
}

.projects__cards-card-desc-list-item {
  font-size: 25px;
}

.projects__cards-card-desc-source {
  display: flex;
  gap: 50px;
  align-items: center;
}

.projects__cards-card-desc-source-link {
  display: flex;
  gap: 5px;
  align-items: center;
  color: var(--black);
}

.projects__cards-card-desc-source-link-text {
  font-family: var(--RR);
  font-size: 25px;
}

.projects__cards-card-desc-source-link-img {
  width: 40px;
}

@media screen and (max-width: 992px) {
  .projects__cards {
    gap: 70px;
  }
  
  .projects__cards-card {
    flex-wrap: wrap;
  }

  .projects__cards-card:nth-child(odd) .projects__cards-card-desc {
    order: -1;
  }

  .projects__cards-card-desc {
    gap: 15px;
  }

  .projects__cards-card-desc-text {
    padding-bottom: 10px;
  }
}
