.banner {
  padding: 125px 0 60px;
}

.banner__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.banner__main {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 45px;
  align-items: center;
  flex-wrap: wrap;
}

.banner__main-content {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.banner__main-content-title {
  font-size: clamp(2rem, 1.824rem + 0.88vw, 2.5rem);
}

.banner__main-content-text {
  font-family: var(--RR);
  font-size: clamp(1.125rem, 0.971rem + 0.77vw, 1.563rem);
}

.banner__main-content-links {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.banner__main-img {
  max-width: 300px;
  width: 100%;
  max-height: 350px; 
  height: 100%;
  border: 1px solid var(--black);
  border-radius: 30px;
}

.banner__stack {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
}

.banner__stack-text {
  border-right: 2px solid var(--gray);
  padding-right: 15px;
  text-align: center;
  font-size: 22px;
}

.banner__stack-links {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
  align-items: center;
  padding-left: 45px;
}

@media screen and (max-width: 768px) {
  .banner__stack-links {
    grid-template-columns: repeat(3, 1fr);
    padding-left: 10px;
    gap: 15px;
  }
}