.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--white);
  padding: 15px 0;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.header__logo {
  cursor: pointer;
}

.header__logo-span {
  font-size: clamp(1rem, 0.802rem + 0.99vw, 1.563rem);
  color: var(--black);
}

.header__list {
  display: flex;
  gap: 15px;
  align-items: center;
}

.header__list-item-link {
  color: var(--black);
  font-size: clamp(1rem, 0.802rem + 0.99vw, 1.563rem);
}

@media screen and (max-width: 480px) {
  .header__wrap {
    gap: 10px;
  }

  .header__list {
    gap: 10px;
  }
}
