@use "../abstract" as *;
@use "../base" as *;

.about {
  padding: rem(100) 0 rem(80);
  transition: 0.3s;
  min-height: 90svh;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: rem(45);
    align-items: center;
    flex-wrap: wrap;
  }

  &__main {
    display: flex;
    justify-content: center;
    gap: rem(45);
    align-items: center;
    flex-wrap: wrap;

    &-img {
      width: min(100%, rem(450));
      max-height: rem(375);
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: rem(30);
      order: 1;
      z-index: 1;

      &.light {
        box-shadow: 0 0 rem(10) $clr-2;
      }
    }

    &-desc {
      width: min(100%, rem(450));
      display: flex;
      flex-direction: column;
      gap: rem(15);

      &-text {
        font-size: $fsr-4;
        z-index: 1;
      }
    }
  }

  &__stack {
    display: flex;
    gap: rem(15);
    justify-content: space-between;
    align-items: center;
    padding-bottom: rem(20);

    @include breakpoint(770) {
      padding-bottom: rem(50);
    }

    &-text {
      font-weight: $fw-2;
      border-right: rem(2) solid $clr-3;
      padding-right: rem(15);
      text-align: center;
      font-size: $fs-2;
    }

    &-links {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: rem(30);
      align-items: center;
      padding-left: rem(45);

      @include breakpoint(770) {
        grid-template-columns: repeat(3, 1fr);
        padding-left: rem(10);
        gap: rem(60) rem(15);
      }

      @include breakpoint(xsm) {
        grid-template-columns: repeat(2, 1fr);
      }

      &-item {
        transition: 0.3s;
        position: relative;
        padding-inline: rem(10);
        z-index: 1;

        &:hover &-link-info {
          display: block;
        }

        &-link {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: rem(12);

          &-img {
            width: rem(48);
            height: rem(48);
            border-radius: rem(10);

            &.light {
              background: $clr-2;
            }
          }

          &-info {
            display: none;
            width: 100%;
            position: absolute;
            bottom: rem(-35);
            left: rem(0);
            opacity: 1;
            transition: 0.2s;
            transition-behavior: allow-discrete;
            height: rem(30);
            text-align: center;
            word-wrap: break-word;

            @starting-style {
              opacity: 0;
            }
          }
        }
      }
    }
  }

  &__interests {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(40);
    padding-top: rem(50);

    &-cards {
      display: flex;
      align-items: center;
      gap: rem(30);

      @include breakpoint(xsm) {
        flex-direction: column;
      }

      &-item {
        &-link {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: rem(10);
          border: rem(2) solid $clr-1;
          padding: rem(10);
          border-radius: rem(10);
          cursor: pointer;
          transition: 0.3s;

          &:hover {
            transform: translateY(rem(15));
          }

          &.light {
            background: $clr-2;
          }

          &-img {
            width: rem(90);
            height: rem(90);
          }

          &-text {
            font-size: $fsr-4;

            &.light {
              color: $clr-1;
            }
          }
        }
      }
    }
  }

  .bg-el {
    &.first {
      top: 8%;
      left: 85%;
    }

    &.second {
      top: 43%;
      left: 47%;
    }

    &.third {
      top: 75%;
      left: 13%;
    }
  }
}
