@use "../abstract" as *;
@use "../base" as *;

.about {
  padding-bottom: rem(80);
  scroll-margin-top: rem(60);

  &__wrap {
    display: flex;
    justify-content: center;
    gap: rem(45);
    align-items: center;
    flex-wrap: wrap;
  }

  &__img {
    width: min(100%, rem(450));
    max-height: rem(375);
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: rem(30);
    order: 1;
  }

  &__main {
    width: min(100%, rem(450));
    display: flex;
    flex-direction: column;
    gap: rem(15);

    &-text {
      font-size: $fsr-4;
    }
  }
}
