@use "../abstract" as *;
@use "../base" as *;

.banner {
  padding: rem(125) 0 rem(60);

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: rem(60);
  }

  &__main {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: rem(45);
    align-items: center;
    flex-wrap: wrap;

    &-content {
      width: min(100%, rem(500));
      display: flex;
      flex-direction: column;
      gap: rem(30);

      &-title {
        font-size: $fsr-1;
        font-weight: $fw-2;
      }

      &-text {
        font-size: $fs-2;
      }

      &-links {
        display: flex;
        gap: rem(15);
        align-items: center;
        justify-content: center;

        &-link {
          &-img {
            width: rem(48);
            height: rem(48);
          }
        }
      }
    }

    &-img {
      width: min(100%, rem(275));
      max-height: rem(325);
      height: 100%;
      border: rem(1) solid $clr-1;
      border-radius: rem(30);
    }
  }

  &__stack {
    display: flex;
    gap: rem(15);
    justify-content: space-between;
    align-items: center;

    &-text {
      font-weight: $fw-2;
      border-right: rem(2) solid $clr-3;
      padding-right: rem(15);
      text-align: center;
      font-size: $fs-2;
    }

    &-links {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: rem(30);
      align-items: center;
      padding-left: rem(45);

      @include breakpoint(770) {
        grid-template-columns: repeat(3, 1fr);
        padding-left: rem(10);
        gap: rem(15);
      }
    }
  }
}
