@use "../abstract" as *;
@use "../base" as *;

.blurs {
  &__blur {
    position: absolute;
    border-radius: 100%;
    filter: blur(rem(250));
    z-index: 1;
    background: $clr-7;

    &:first-child {
      left: 20%;
      top: 5%;
      right: 60%;
      bottom: 87%;
    }

    &:nth-child(2) {
      left: 20%;
      right: 60%;
      top: 25%;
      bottom: 67%;
    }

    &:nth-child(3) {
      left: 60%;
      right: 20%;
      top: 83%;
      bottom: 12%;
    }

    &:nth-child(4) {
      left: 20%;
      right: 60%;
      top: 63%;
      bottom: 30%;
    }

    &:nth-child(5) {
      left: 60%;
      right: 20%;
      top: 52%;
      bottom: 42%;
    }

    &:last-child {
      left: 20%;
      right: 60%;
      top: 85%;
      bottom: 5%;
    }
  }
}
