@use "../abstract" as *;
@use "../base" as *;

.contact {
  padding: rem(100) 0 rem(80);
  transition: 0.3s;
  min-height: 90svh;

  &__wrapper {
    display: flex;
    gap: rem(40);
    flex-wrap: wrap;
    justify-content: center;
  }

  &__address {
    width: min(100%, rem(500));
    display: flex;
    flex-direction: column;
    gap: rem(15);

    &-text {
      font-size: $fsr-4;
    }

    &-socials {
      display: flex;
      flex-direction: column;
      gap: rem(15);

      &-item {
        &-link {
          display: flex;
          gap: rem(10);
          align-items: center;
          flex-wrap: wrap;

          &:hover &-top-span {
            letter-spacing: rem(2);
          }

          @include breakpoint(xsm) {
            flex-direction: column;
            align-items: flex-start;
          }

          &-top {
            display: flex;
            gap: rem(15);
            align-items: center;

            &-img {
              width: rem(40);
              height: rem(40);
              border-radius: rem(10);
              transition: 0.3s;

              &.light {
                background: $clr-2;
              }
            }

            &-span {
              font-size: $fs-1;
              transition: 0.3s;
              z-index: 1;
            }
          }

          &-text {
            font-size: $fsr-3;
            z-index: 1;
          }
        }
      }
    }
  }

  &__form {
    width: min(100%, rem(500));
    display: flex;
    flex-direction: column;
    gap: rem(10);
    z-index: 10;

    &-label {
      font-size: $fs-1;
    }

    &-input,
    &-textarea {
      padding: rem(5);
      font-size: $fs-1;
      color: $clr-3;
      outline: none;
      border: rem(1) solid $clr-1;
      transition: 0.3s;
      border-radius: rem(5);

      &:focus {
        padding: rem(10);
      }
    }

    &-textarea {
      resize: none;
    }

    &-span {
      color: $clr-3;
      font-size: $fsr-3;
    }

    &-btn {
      padding: rem(10) rem(5);
      border: none;
      width: min(100%, rem(170));
      background: $clr-4;
      color: $clr-2;
      border-radius: rem(10);
      font-size: $fs-1;
      margin: 0 auto;
      cursor: pointer;
      transition: 0.3s;
      z-index: 1;
      position: relative;
      overflow: hidden;

      &:hover::after {
        height: 180%;
      }

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        height: 0;
        background: $clr-7;
        z-index: -1;
        transition: 0.5s;
        border-radius: 0 0 50% 50%;
      }
    }
  }

  .bg-el {
    &.first {
      top: 33%;
      left: 44%;
    }
  }
}
