@use "../abstract" as *;
@use "../base" as *;

.contact {
  padding-bottom: rem(80);
  scroll-margin-top: rem(60);

  &__wrap {
    display: flex;
    gap: rem(30);
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__main {
    width: min(100%, rem(500));
    display: flex;
    flex-direction: column;
    gap: rem(15);

    &-text {
      font-weight: 400;
      font-size: rem(22);
    }

    &-socials {
      display: flex;
      flex-direction: column;
      gap: rem(15);

      &-link {
        font-weight: 400;
        display: flex;
        gap: rem(10);
        align-items: center;
        flex-wrap: wrap;

        @include breakpoint(xsm) {
          flex-direction: column;
          align-items: flex-start;
        }

        &-top {
          display: flex;
          gap: rem(15);
          align-items: center;

          &-img {
            width: rem(40);
          }

          &-span {
            font-weight: 400;
            color: $black;
            font-size: rem(20);
          }
        }

        &-text {
          color: $black;
          font-weight: 400;
          font-size: clamp(rem(17), 0.997rem + 0.33vw, rem(20));
        }
      }
    }
  }

  &__form {
    width: min(100%, rem(500));
    display: flex;
    flex-direction: column;
    gap: rem(10);

    &-label {
      font-weight: 400;
      font-size: rem(20);
    }

    &-input,
    &-textarea {
      padding: rem(5);
      font-weight: 400;
      font-size: rem(18);
      color: $gray;
      outline: none;
    }

    &-textarea {
      resize: none;
    }

    &-span {
      font-weight: 400;
      font-size: rem(16);
      color: $gray;
    }

    &-btn {
      padding: rem(10) rem(5);
      border: none;
      width: min(100%, rem(170));
      background: $blue;
      color: $white;
      border-radius: rem(10);
      font-weight: 400;
      font-size: rem(20);
      margin: 0 auto;
      cursor: pointer;
    }
  }
}
