@use "../abstract" as *;
@use "../base" as *;

.contact {
  padding: rem(100) 0 rem(80);
  transition: 0.5s;
  min-height: 90svh;

  &__wrap {
    display: flex;
    gap: rem(30);
    flex-wrap: wrap;
    justify-content: center;
  }

  &__main {
    width: min(100%, rem(500));
    display: flex;
    flex-direction: column;
    gap: rem(15);

    &-text {
      font-size: $fsr-4;
    }

    &-socials {
      display: flex;
      flex-direction: column;
      gap: rem(15);

      &-link {
        display: flex;
        gap: rem(10);
        align-items: center;
        flex-wrap: wrap;

        @include breakpoint(xsm) {
          flex-direction: column;
          align-items: flex-start;
        }

        &-top {
          display: flex;
          gap: rem(15);
          align-items: center;

          &-img {
            width: rem(40);
          }

          &-span {
            font-size: $fs-1;
          }
        }

        &-text {
          font-size: $fsr-3;
        }
      }
    }
  }

  &__form {
    width: min(100%, rem(500));
    display: flex;
    flex-direction: column;
    gap: rem(10);
    z-index: 10;

    &-label {
      font-size: $fs-1;
    }

    &-input,
    &-textarea {
      padding: rem(5);
      font-size: $fs-1;
      color: $clr-3;
      outline: none;
      border: rem(1) solid $clr-1;
    }

    &-textarea {
      resize: none;
    }

    &-span {
      color: $clr-3;
      font-size: $fsr-3;
    }

    &-btn {
      padding: rem(10) rem(5);
      border: none;
      width: min(100%, rem(170));
      background: $clr-4;
      color: $clr-2;
      border-radius: rem(10);
      font-size: $fs-1;
      margin: 0 auto;
      cursor: pointer;
    }
  }
}
