@use "../abstract" as *;
@use "../base" as *;

.footer {
  padding: rem(15) 0;
  transition: 0.3s;

  &__wrap {
    display: flex;
    gap: rem(30) rem(15);
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: rem(5) !important;

    @include breakpoint(md) {
      flex-direction: column;
    }
  }

  &__span {
    position: absolute;
    top: -50%;
    left: 3%;
    height: rem(3);
    width: 95%;
    background: linear-gradient(90deg, $clr-4, $clr-7);
    align-self: center;

    @include breakpoint(md) {
      top: -30%;
    }

    &.dark {
      background: $clr-2;
    }
  }

  &__info {
    font-size: $fsr-3;
    text-align: center;
  }

  &__content {
    display: flex;
    gap: rem(30);
    align-items: center;

    @include breakpoint(sm) {
      gap: rem(10);
    }

    span {
      font-size: $fsr-3;
      text-align: center;
    }
  }
}
