@use "../abstract" as *;
@use "../base" as *;

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: $white;
  padding: rem(15) 0;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(15);

    @include breakpoint(xsm) {
      gap: rem(10);
    }
  }

  &__logo {
    cursor: pointer;

    &-span {
      font-weight: 700;
      font-size: clamp(rem(16), 0.802rem + 0.99vw, rem(25));
      color: $black;
    }
  }

  &__list {
    display: flex;
    gap: rem(15);
    align-items: center;

    @include breakpoint(xsm) {
      gap: rem(10);
    }

    &-item {
      &-link {
        font-weight: 700;
        color: $black;
        font-size: clamp(rem(16), 0.802rem + 0.99vw, rem(25));
      }
    }
  }
}
