@use "../abstract" as *;
@use "../base" as *;

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: rem(10) 0;
  z-index: 100;
  transition: 0.3s;
  border-bottom: rem(2) solid $clr-1;
  border-radius: 0 0 0 rem(15);

  @include breakpoint(sm) {
    padding: rem(5) 0;
  }

  &.light {
    border-color: $clr-2;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(15);

    @include breakpoint(xsm) {
      gap: rem(10);
    }
  }

  &__logo {
    cursor: pointer;
    display: flex;

    &-img {
      width: rem(90);
      height: rem(40);

      @include breakpoint(sm) {
        width: rem(75);
        height: rem(35);
      }
    }
  }

  &__navlinks {
    display: flex;
    gap: rem(25);
    align-items: center;

    @include breakpoint(sm) {
      display: none;
    }

    &-item {
      &:hover &-link::after {
        width: 100%;
      }

      &-link {
        font-weight: $fw-2;
        font-size: $fsr-2;
        transition: 0.3s;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: rem(-3);
          left: 0;
          width: 0%;
          height: rem(3);
          background: $clr-4;
          transition: 0.3s;
        }
      }
    }
  }

  &__btns {
    display: flex;
    gap: rem(15);
    align-items: center;

    &-item {
      display: flex;
      gap: rem(15);

      &:last-child {
        display: none;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;

        @include breakpoint(sm) {
          display: flex;
        }
      }

      &-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: min(100%, rem(150));
        padding: rem(50) rem(10);
        z-index: 100;
        background: $clr-8;
        animation: slide-left 0.5s forwards;

        @keyframes slide-left {
          0% {
            transform: translateX(50%);
            opacity: 0;
          }
          100% {
            transform: translateX(0);
            opacity: 1;
          }
        }

        &-item {
          padding: rem(20) rem(5);

          &-link {
            font-size: $fs-1;
            transition: 0.3s;

            &:hover {
              padding-right: rem(10);
            }
          }
        }
      }

      &-img {
        width: rem(25);
        height: rem(25);
        z-index: 110;
        transition: 0.3s;

        &:hover {
          fill: $clr-8;
        }

        &.light-menu {
          fill: $clr-1;
          transition: 0.3s;

          &:hover {
            fill: $clr-2;
          }
        }
      }

      &-link {
        font-weight: $fw-2;
        font-size: $fsr-2;
      }

      &-btn {
        display: flex;
        cursor: pointer;
        border: none;
        background: transparent;
        z-index: 110;
        position: relative;
        transition: 0.3s;

        &:last-child {
          position: relative;
        }

        &-img {
          width: rem(32);
          height: rem(32);
          transition: 0.3s;

          &:hover {
            fill: $clr-8;
          }

          &.light {
            fill: $clr-2;
            transition: 0.3s;

            &:hover {
              fill: $clr-8;
            }
          }

          &.light-menu {
            fill: $clr-1;
            transition: 0.3s;

            &:hover {
              fill: $clr-2;
            }
          }

          &.sun {
            fill: $clr-5;
            transition: 0.3s;

            &:hover {
              fill: $clr-8;
            }
          }

          &.sun-menu {
            fill: $clr-1;
            transition: 0.3s;

            &:hover {
              fill: $clr-2;
            }
          }

          &.moon {
            transition: 0.3s;

            &:hover {
              fill: $clr-8;
            }
          }

          &.moon-menu {
            transition: 0.3s;

            &:hover {
              fill: $clr-2;
            }
          }
        }

        &-dropdown {
          position: absolute;
          top: rem(50);
          right: rem(-15);
          display: flex;
          flex-direction: column;
          gap: rem(15);
          background: $clr-8;
          border-radius: rem(10);
          animation: slide-up 1s forwards;
          transition: 0.3s;

          &:hover {
            box-shadow: 0 0 rem(7) $clr-8;
          }

          @include breakpoint(sm) {
            top: rem(30);
          }

          @keyframes slide-up {
            0% {
              transform: translateY(100%);
              opacity: 0;
            }
            100% {
              transform: translateY(0);
              opacity: 1;
            }
          }

          &-item {
            padding: rem(5) rem(10);
            color: $clr-2;
            font-size: $fsr-3;
          }
        }
      }
    }
  }
}
