@use "../abstract" as *;
@use "../base" as *;

.projects {
  padding: rem(100) 0 rem(80);
  transition: 0.3s;
  min-height: 90svh;

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: rem(15);
    align-items: center;
  }

  &__title {
    padding-bottom: rem(15);
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: rem(50);

    @include breakpoint(lg) {
      gap: rem(70);
    }

    @include breakpoint(xsm) {
      gap: rem(35);
    }

    &-card {
      display: flex;
      gap: rem(30);
      align-items: center;
      justify-content: center;

      @include breakpoint(lg) {
        flex-wrap: wrap;
      }

      &:hover &-pic {
        transform: scale(1.05);
      }

      &-pic {
        width: min(100%, rem(600));
        min-height: rem(300);
        display: flex;
        z-index: 10;
        transition: 0.3s;
        animation: scale 1s;
        object-fit: cover;

        &-img {
          border-radius: rem(20);
          box-shadow: 0 0 rem(10) $clr-1;
          max-height: 500px;

          &.light {
            box-shadow: 0 0 rem(10) $clr-2;
          }
        }
      }

      &-desc {
        width: min(100%, rem(510));
        display: flex;
        flex-direction: column;
        gap: rem(20);
        align-items: center;

        .projects__cards-card:nth-child(even) & {
          order: -1;
        }

        @include breakpoint(lg) {
          gap: rem(15);

          .projects__cards-card:nth-child(odd) & {
            order: -1;
          }
        }

        &-title {
          font-weight: $fw-2;
          text-transform: uppercase;
          font-size: $fsr-5;
        }

        &-text {
          text-align: center;
          padding-bottom: rem(25);
          font-size: $fsr-4;

          @include breakpoint(lg) {
            padding-bottom: rem(10);
          }
        }

        &-list {
          display: flex;
          gap: rem(15);
          align-items: center;

          &-item {
            font-weight: $fw-2;
            font-size: $fsr-5;

            &.light {
              color: $clr-8;
            }
          }
        }

        &-source {
          display: flex;
          gap: rem(50);
          align-items: center;

          &-link {
            display: flex;
            gap: rem(10);
            align-items: center;

            &:hover &-text {
              letter-spacing: rem(4);
            }

            &-text {
              font-size: $fsr-5;
              transition: 0.3s;
            }

            &-img {
              width: rem(40);
              height: rem(40);
              border-radius: rem(10);
              transition: 0.3s;

              &.light {
                background: $clr-2;
              }
            }
          }
        }
      }
    }
  }
}
