.contact {
  padding-bottom: 80px;
  scroll-margin-top: 50px;
}

.contact__wrap {
  display: flex;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.contact__main {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact__main-text {
  font-family: var(--RR);
}

.contact__main-socials {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact__main-socials-link {
  display: flex;
  gap: 15px;
  align-items: center;
}

.contact__main-socials-link-img {
  width: 40px;
}

.contact__main-socials-link-text {
  color: var(--black);
  font-family: var(--RR);
}

.contact__form {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact__form-input,
.contact__form-textarea {
  padding: 5px;
  font-size: 16px;
  color: var(--gray);
  outline: none;
}

.contact__form-textarea {
  resize: none;
}

.contact__form-span {
  font-size: 16px;
  color: var(--gray);
}

.contact__form-btn {
  padding: 10px 5px;
  border: none; 
  max-width: 170px;
  width: 100%;
  background: var(--blue);
  color: var(--white);
  border-radius: 10px;
  font-size: 16px;
  margin: 0 auto;
  cursor: pointer;
}
